h1{
    margin-left: 100px;
    text-align: center;
    font-size: 2em;
    color: rgb(214, 72, 24);
    font-weight: 900;
}
.para{
    border: 3px solid rgb(79, 79, 205);
    background-color: rgb(125, 230, 179);
    margin: 20px 100px ;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 10px;
    
    
}
.author{
    color: red;
}
.para p{
    color: rgb(0, 0, 0)  ;
    text-align:justify;

}